.App {
  text-align: center;
}

.main{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.bingo-cell{
  margin: 10px;
  height: 672px;
}

#id{
  padding: 20px;
}

.tile{
  word-wrap: break-word;
  padding: auto 10px;
}
